.container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 80vh;
  border: 1px solid black;
}
.row {
  display: flex;
  flex-basis: 100%;
}
div {
  flex-basis: 100%;
}

div:hover:not(.container, .btnClr, .btnNr) {
  background-color: aquamarine;
}
.hovered {
  background-color: blue;
}
.btnClr,
.btnNr {
  height: 30px;
  width: 40px;
  border-radius: 5px;
  border: 1px solid;
}
