.container {
  display: flex;
  justify-content: center;
  height: 50vh; /* Aseta korkeus 50% näytön korkeudesta */
  width: 80vh;
  border: 1px solid black;
}
.btnClr,
.btnNr {
  height: 30px;
  width: 40px;
  border-radius: 5px;
  border: 1px solid;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
div {
  height: 10px;
  width: 10px;
  border: 1px solid black;
}

div:hover:not(.container, .btnClr, .btnNr) {
  background-color: aquamarine;
}
.hovered {
  background-color: red;
}
