.container {
  display: flex;
  width: 500px;
  height: 500px;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: aliceblue;
}
div {
  height: 100px;
  width: 100px;
  border: 2px solid;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
}
div:hover:not(.container) {
  background-color: aquamarine;
}
